* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color:#444654; /* Dark background color */
}

.app {
  display: flex;
}

.side-bar {
  background-color: #111; /* Darker sidebar color */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: none;
  background-color: #444; /* Dark button background color */
  color: #fff;
  padding: 10px;
  margin: 10px;
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #555; /* Slightly lighter color on hover */
}

nav {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.history {
  padding: 10px;
  margin: 10px;
  list-style: none;
}

.history li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #444;
  color: wheat;
}

.history li:hover {
  background-color: #333; /* Slightly lighter color on hover */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 100%;
  max-width: 650px;
  background-color: #222; /* Dark input background color */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  flex: 1; /* Take remaining width */
  border: 1px solid #444; /* Darker border color */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #222; /* Dark input background color */
  color: #fff; /* Text color for input */
}

input:focus {
  outline: none;
  border-color: #555; /* Border color on focus */
}

#submit {
  cursor: pointer;
  padding: 10px;
  background-color: #444; /* Dark submit button background color */
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

#submit:hover {
  background-color: #555; /* Slightly lighter color on hover */
}

.feed {
  overflow-y: auto;
  width: 100%;
  padding: 0;
  max-height: calc(100vh - 110px);
}

.feed li {
  background-color:#6f77aa; /* Darker chat message background color */
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feed p {
  font-size: 14px;
  margin: 5px 0;
  color: #fff; /* Text color for chat messages */
}

.feed p.role {
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .app {
    flex-direction: column; /* Stack the sidebar and main section for smaller screens */
  }

  .side-bar {
    width: 100%; /* Adjust sidebar width for smaller screens */
    max-width: none; /* Allow sidebar to expand to full width */
  }
}
